header, section, footer, aside, nav, article, figure, figcaption {
        display: block;
}

#test {
	color: red;
}

label {
	padding-left: 20px;
	padding-right: 20px;
}

.theme-showcase {
	width: 85%
}

#search_button {
	margin-top: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
